flows.json
[{"id":"f73affcd.5fa73","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d96c592a.a98748","type":"telegram bot","z":"","botname":"Arulsbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"46f0e40e.378b4c","type":"telegram bot","z":"","botname":"Arulsbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5d84f.643887b18","type":"telegram bot","z":"","botname":"Arulsbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"268d209f.e4523","type":"telegram sender","z":"f73affcd.5fa73","name":"Arulsbot","bot":"d96c592a.a98748","x":680,"y":440,"wires":[[]]},{"id":"51b7e1a7.5a36f","type":"telegram receiver","z":"f73affcd.5fa73","name":"Arulsbot","bot":"5d84f.643887b18","saveDataDir":"","filterCommands":false,"x":70,"y":120,"wires":[["5e2a7c54.0af814"],[]]},{"id":"5e2a7c54.0af814","type":"function","z":"f73affcd.5fa73","name":"preparation before watson","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["fcf693bc.ac527"]]},{"id":"fcf693bc.ac527","type":"watson-conversation-v1","z":"f73affcd.5fa73","name":"my first skill","workspaceid":"b1e92235-794d-41d2-9c48-4778d90dfdab","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e5f04619-0be6-4be9-9eb8-941c83261901","timeout":"","optout-learning":false,"x":350,"y":260,"wires":[["4b8f25ea.61f1ac"]]},{"id":"4b8f25ea.61f1ac","type":"function","z":"f73affcd.5fa73","name":"preparation before telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["268d209f.e4523"]]}]